[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libraries/pugixml"]
	path = libraries/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "libraries/tinyobjloader"]
	path = libraries/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
